header {
    width: 100%;
    padding-top: 16px;
  }
  
  .navbar {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;

   
  }
  
  .nav-list {
    @include responsive(){
      display: none;
    }
    list-style: none;
    display: flex;
    li {
      margin-left: 24px;
    }
    
  }
  
  
  .nav-list li:last-child a{
    color:$red;
  }
  
  .logo {
    max-width: 88px;
    @include responsive(){
     max-width: 50px;
    }
  }
  
  .nav-link {
    display: inline-block;
    color: $gray-3;
    padding: 8px 16px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    position: relative;
    transition: 0.7s ease;
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 0px;
      background: linear-gradient(
        360deg,
        #ea1d22 2.73%,
        rgba(234, 29, 34, 0.2) 100%
      );
      left: 50%;
      top: -40px;
      transition: 0.7s ease;
    }
  
    &:hover {
      color: $white-light;
      &::after {
        height: 40px;
      }
    }
}

.bx{
  @include responsive(){
    display: block;
  }
  display: none;
  width: 48px;
  height: 48px;
  background-color: $white;
  border-radius: 8px;
}

.nav-social {
  @include responsive(){
    display: none;
  }
       display: flex;
       align-items: center;
       padding-right: 10px;
    svg {
      cursor: pointer;
      margin-left: 16px;
      width: 18px;
      path,
      circle {
        transition: 0.7s ease;
      }
      &:hover {
        path,
        circle {
          fill: $red-light;
          transform: translate3d(0, -3px, 0);
        }
      }
    }
}